.header {
  max-width: inherit;
  padding-top: 2rem;
  padding-right: 2rem;
  color: var(--mainTxt);
}

.title {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.0229007633587786rem + 2.035623409669211vw, 2rem);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.title:hover {
  color: var(--accent);
}

.icons {
  flex-direction: row-reverse;
  font-size: 1.7rem;
  z-index: 10;
}

i {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

i:hover {
  color: var(--accent);
  transform: scale(1.1);
}
/* =========== MEDIA QUERY =============== */

@media (max-width: 780px) {
  .header {
    padding-top: 1em;
}
}

@media (max-width: 625px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  .header nav {
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
  }
  
}

@media (max-width: 480px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  .header nav {
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
  }
}