<section class="main">
  <div class="hero">
    <div class="heroText">
      <h1>
        Nice to meet you!
        I'm <span>Momen</span>.
        
      </h1>
      <p>
        Based in Egypt, I'm a web developer
        passionate about building new and intriguing web apps
        that users love.
      </p>
      <a [href]="mycv" class="btn heroBtn" target="_blank">see my cv</a>
    </div>

    <img class="rings" [src]="ringsPattern" alt="rings" />
    <img class="circle" [src]="circlePattern" alt="circle" />
  </div>
</section>
