<div class="container-fluid skills-section">
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-4 col-sm-6 col-12 p-5 text-center">
        <h1 class="skillsTitle">HTML</h1>
        <div class="experience">2 Years Experience</div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 p-5 text-center">
        <h1 class="skillsTitle">CSS</h1>
        <div class="experience">2 Years Experience</div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 p-5 text-center">
        <h1 class="skillsTitle">Javascript</h1>
        <div class="experience">1 Year Experience</div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 p-5 text-center">
        <h1 class="skillsTitle">Angular</h1>
        <div class="experience">4 months Years Experience</div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 p-5 text-center">
        <h1 class="skillsTitle">Git</h1>
        <div class="experience">6 Months Experience</div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12 p-5 text-center">
        <h1 class="skillsTitle">PHP</h1>
        <div class="experience">1 Year Experience</div>
      </div>
    </div>
    <img class="rings2" src="assets/pattern-rings.svg" alt="rings2" />
  
</div>