
.projectsContainer {
  margin-top: 10rem;
  border-bottom: 2px solid var(--mainTxt);
}

.projectHeader {
  font-size: 88px;
  letter-spacing: -2.5px;
  color: var(--mainTxt);
}

.card {
  margin-top: 5rem;
  color: var(--mainTxt);
  text-transform: uppercase;
}

.card-top {
  height: 400px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
}

.card-text {
  color: var(--smallTxt);
  display: flex;
  gap: 1rem;
}

@media (max-width: 625px) {
    .projectsContainer {
      margin-top: 0;
      padding: 4rem 0;
      text-align: initial;
      border-bottom: 2px solid var(--mainTxt);
    }
    .firstRow {
      justify-content: space-between;
      align-items: center;
    }
    .projectHeader {
      font-size: 2.3em;
    }
  
}

@media (max-width: 480px) {
    .projectsContainer {
      margin-top: 0;
      padding: 4rem 0;
      text-align: initial;
      border-bottom: 2px solid var(--mainTxt);
    }
    .firstRow {
      justify-content: space-between;
      align-items: center;
    }
    .projectHeader {
      font-size: 2.3em;
    }
}